In [21]:
# Q1
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

# Simulate the interpreter actions:
b()
b()
b()
a  # Answer will be displayed

6

In [ ]:
# Each call to b() calls c(a) which increments a by 2. After three calls, a = 6.

In [10]:
#Q2
# fileLength function with improved exception handling
def fileLength(filename):
    try:
        with open(filename, 'r') as f:
            contents = f.read()
            return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")

# Test the function
print(fileLength('midterm.py'))
print(fileLength('idterm.py'))

File midterm.py not found.
None
File idterm.py not found.
None

In [11]:
# Q3
# Marsupial and Kangaroo classes
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Test the classes
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [12]:
# Q4
# Collatz function (recursive)
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

# Test the function
collatz(10)

10
5
16
8
4
2
1

In [13]:
# Q5
# Binary function (recursive)
def binary(n):
    if n == 0:
        print(0, end="")
    elif n > 0:
        binary(n // 2)
        print(n % 2, end="")

# Test the function
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
01
011
01001

In [18]:
# Q6
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_tag = ""
    
    def handle_starttag(self, tag, attrs):
        if tag.startswith("h"):
            self.current_tag = tag

    def handle_endtag(self, tag):
        if tag == self.current_tag:
            self.current_tag = ""

    def handle_data(self, data):
        if self.current_tag.startswith("h"):
            level = int(self.current_tag[1]) - 1
            print(" " * level + data)

# Test the class (replace 'w3c.html' with actual content if testing in a Jupyter environment)
hp = HeadingParser()
hp.feed("<h1>W3C Mission</h1><h2>Principles</h2>")

W3C Mission
 Principles

In [19]:
# Q7
import requests
from bs4 import BeautifulSoup
import time

def webdir(url, depth, indent):
    # Base case: if depth is 0, stop recursion
    if depth < 0:
        return
    
    # Print the URL with the specified indentation
    print(' ' * indent + url)
    
    # Attempt to retrieve and parse the webpage content
    try:
        response = requests.get(url)
        content = response.text
        soup = BeautifulSoup(content, 'html.parser')
        
        # Find all hyperlinks on the page
        links = soup.find_all('a', href=True)
        
        # Recursively visit each link up to the specified depth
        for link in links:
            href = link['href']
            # Convert relative URLs to absolute URLs
            if href.startswith('http'):
                next_url = href
            else:
                next_url = requests.compat.urljoin(url, href)
            
            # Recursive call with decreased depth and increased indentation
            webdir(next_url, depth - 1, indent + 2)
            
            # Adding a short delay to avoid overwhelming the server
            time.sleep(0.1)
    except Exception as e:
        print(' ' * indent + f"Error accessing {url}: {e}")

# Example usage
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [20]:
# Q8
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the Weather table
cursor.execute('''
CREATE TABLE Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Insert the data into the Weather table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

cursor.executemany('''
INSERT INTO Weather (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
''', data)

# Commit the changes
conn.commit()

# a) All the temperature data
print("a) All the temperature data:")
cursor.execute("SELECT Temperature FROM Weather")
for row in cursor.fetchall():
    print(row[0])

# b) All the cities, but without repetition
print("\nb) All the cities, but without repetition:")
cursor.execute("SELECT DISTINCT City FROM Weather")
for row in cursor.fetchall():
    print(row[0])

# c) All the records for India
print("\nc) All the records for India:")
cursor.execute("SELECT * FROM Weather WHERE Country = 'India'")
for row in cursor.fetchall():
    print(row)

# d) All the Fall records
print("\nd) All the Fall records:")
cursor.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
for row in cursor.fetchall():
    print(row)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
print("\ne) City, country, and season for which average rainfall is between 200 and 400 mm:")
cursor.execute('''
SELECT City, Country, Season
FROM Weather
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400
''')
for row in cursor.fetchall():
    print(row)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
print("\nf) City and country for which average Fall temperature is above 20 degrees, in increasing temperature order:")
cursor.execute('''
SELECT City, Country
FROM Weather
WHERE Season = 'Fall' AND Temperature > 20
ORDER BY Temperature ASC
''')
for row in cursor.fetchall():
    print(row)

# g) The total annual rainfall for Cairo
print("\ng) Total annual rainfall for Cairo:")
cursor.execute("SELECT SUM(Rainfall) FROM Weather WHERE City = 'Cairo'")
print(cursor.fetchone()[0])

# h) The total rainfall for each season
print("\nh) Total rainfall for each season:")
cursor.execute('''
SELECT Season, SUM(Rainfall) AS Total_Rainfall
FROM Weather
GROUP BY Season
''')
for row in cursor.fetchall():
    print(row)

# Close the connection
conn.close()

a) All the temperature data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

b) All the cities, but without repetition:
Mumbai
London
Cairo

c) All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) City, country, and season for which average rainfall is between 200 and 400 mm:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

f) City and country for which average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

g) Total annual rainfall for Cairo:
27.6

h) Total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [16]:
# Q9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) Uppercase words
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

# b) Lowercase words
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

# c) Lengths of words
lengths_of_words = [len(word) for word in words]
print(lengths_of_words)

# d) Word details
word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_details)

# e) Words with 4 or more characters
words_4_or_more = [word for word in words if len(word) >= 4]
print(words_4_or_more)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']